<div class="header">

    <div class="header-brand">
        <h1 class="header-brand-h1">Gamingverse</h1>
    </div>

    <div class="header-container">
        <ul class="header-container-list">
            <li class="header-container-list-item">
                <span>
                    Games
                </span>
            </li>
            <li class="header-container-list-item">
                <span>
                    Company
                </span>
            </li>
            <li class="header-container-list-item">
                <span>
                    Career
                </span>
                <span class="header-container-list-item-badge">
                    12
                </span>
            </li>
            <li class="header-container-list-item">
                <span>
                    News
                </span>
            </li>
        </ul>
    </div>

</div>