$themenColor: rgb(255, 136, 0);

.header {
  position: fixed;
  top: 0;
  z-index: 999;
  background: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: .8rem 10rem;
  border-bottom: rgba($color: #aaa, $alpha: .6) 1px solid;
}

.header-brand-h1 {
  color: white;
  background: $themenColor;
  letter-spacing: 0.2rem;
  font-size: 2.2rem;
  padding: 0.2rem 0.4rem;
}

.header-container-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header-container-list-item {
  margin-right: 4rem;
  font-weight: 600;
  font-size: small;
  color: rgba($color: #312e2e, $alpha: 0.8);
  text-transform: uppercase;
}

.header-container-list-item:last-child {
  margin: 0 0;
}

.header-container-list-item-badge {
  color: white;
  background: $themenColor;
  padding: 0.25rem 0.5rem;
  font-weight: 300;
  font-size: small;
  border-radius: 0.2rem;
  margin-left: 0.5rem;
}
