$themenColor: rgb(255, 136, 0);

a {
  text-decoration: none;
  color: white;
}

.header {
  width: 100%;
  top: 0;
  z-index: 999;
  position: fixed;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0.8rem 5%;
  background: white;
  border-bottom: rgba($color: #aaa, $alpha: 0.6) 1px solid;
  align-items: center;
}

.header-hamburger {
  display: none;
}

.header-hamburger-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $themenColor;
  border: none;
  border-radius: 0.1rem;
  cursor: pointer;
}

.header-hamburger-expanded {
  min-height: 100vh;
  top: 70px;
  left: 0;
  position: absolute;
  background: $themenColor;
}

.header-hamburger-expanded ul {
  padding: 3rem 5rem;
  list-style: none;
}

.header-hamburger-expanded li {
  margin-top: 2rem;
  color: white;
}

.header-brand-h1 {
  padding: 0.2rem 0.6rem;
  color: white;
  background: $themenColor;
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.header-brand-h1 a {
  color: inherit;
}

.header-container-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.header-container-list-item {
  margin-right: 4rem;
  padding: 0.5rem 1rem;
  color: rgba($color: #312e2e, $alpha: 0.8);
  font-size: small;
  font-weight: 600;
  text-transform: uppercase;
}

.activeRoute {
  color: black;
  font-weight: 900;
}

.activeRouteHamburger {
  color: white;
  font-weight: 900;
}

.header-container-list-item:hover {
  background-color: rgba($color: #aaa, $alpha: 0.5);
}

.header-container-list-item a {
  color: inherit;
}

.header-container-list-item:last-child {
  margin: 0 0;
}

.header-container-list-item-badge {
  margin-left: 0.5rem;
  padding: 0.25rem 0.5rem;
  color: white;
  background: $themenColor;
  border-radius: 0.2rem;
  font-size: small;
  font-weight: 300;
}

@media only screen and (max-width: 1200px) {
  .header-hamburger {
    display: block;
  }

  .header {
    padding-left: 3%;
    padding-right: 3%;
    background-color: $themenColor;
  }

  .header-container {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .header {
    padding-left: 2%;
    padding-right: 5%;
    background-color: $themenColor;
  }
}
