<header class="header">
    <div class="header-brand">
        <h1 class="header-brand-h1">
            <a routerLink="">
                Gamingverse
            </a>
        </h1>
    </div>

    <div *ngIf="showHamburgerIcon" class="header-hamburger">
        <button class="header-hamburger-btn" (click)="toggleHamburger(true)">
            <img width="32px" height="32px" src="assets/img/hamburger_icon.png" alt="">
        </button>
    </div>

    <div *ngIf="!showHamburgerIcon" class="header-hamburger">
        <button class="header-hamburger-btn" (click)="toggleHamburger(false)">
            <img width="32px" height="32px"
                src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2F8%2F8d%2FVisualEditor_-_Icon_-_Close.svg%2F120px-VisualEditor_-_Icon_-_Close.svg.png&f=1&nofb=1"
                alt="">
        </button>
        <div class="header-hamburger-expanded">
            <ul class="header-hamburger-expanded-ul">
                <li style="margin-bottom: 4rem;">
                    <a routerLink="" (click)="toggleHamburger(false)">
                        HOME
                    </a>
                </li>
                <li>
                    <a routerLink="/games" routerLinkActive="activeRouteHamburger" (click)="toggleHamburger(false)">
                        GAMES
                    </a>
                </li>
                <li>
                    <a routerLink="/company" routerLinkActive="activeRouteHamburger" (click)="toggleHamburger(false)">
                        COMPANY
                    </a>
                </li>
                <li>
                    <a routerLink="/career" routerLinkActive="activeRouteHamburger" (click)="toggleHamburger(false)">
                        CAREER
                    </a>
                </li>
                <li>
                    <a routerLink="/news" routerLinkActive="activeRouteHamburger" (click)="toggleHamburger(false)">
                        NEWS
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="header-container">
        <ul class="header-container-list">
            <li class="header-container-list-item">
                <a routerLink="/games" routerLinkActive="activeRoute">
                    Games
                </a>
            </li>
            <li class="header-container-list-item">
                <a routerLink="/company" routerLinkActive="activeRoute">
                    Company
                </a>
            </li>
            <li class="header-container-list-item">
                <a routerLink="/career" routerLinkActive="activeRoute">
                    Career
                </a>
                <span class="header-container-list-item-badge">
                    {{amountOfJobs}}
                </span>
            </li>
            <li class="header-container-list-item">
                <a routerLink="/news" routerLinkActive="activeRoute">
                    News
                </a>
            </li>
        </ul>
    </div>
</header>