$themenColor: rgb(255, 136, 0);

a {
  text-decoration: none;
  color: white;
}

.header {
  position: fixed;
  top: 0;
  z-index: 999;
  background: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.8rem 10rem;
  border-bottom: rgba($color: #aaa, $alpha: 0.6) 1px solid;
}

.header-hamburger {
  display: none;
}

.header-hamburger-btn {
  border: none;
  border-radius: 0.1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $themenColor;
}

.header-hamburger-expanded {
  position: absolute;
  top: 70px;
  left: 0;
  background: $themenColor;
  min-height: 100vh;
}

.header-hamburger-expanded ul {
  list-style: none;
  padding: 3rem 5rem;
}

.header-hamburger-expanded li {
  margin-top: 2rem;
  color: white;
}

.header-brand-h1 {
  color: white;
  background: $themenColor;
  letter-spacing: 0.2rem;
  font-size: 2.2rem;
  padding: 0.2rem 0.6rem;
}

.header-brand-h1 a {
  color: inherit;
}

.header-container-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header-container-list-item {
  margin-right: 4rem;
  font-weight: 600;
  font-size: small;
  color: rgba($color: #312e2e, $alpha: 0.8);
  text-transform: uppercase;
  padding: 0.5rem 1rem;
}

.header-container-list-item:hover {
  background-color: rgba($color: #aaa, $alpha: 0.5);
}

.header-container-list-item a {
  color: inherit;
}

.header-container-list-item:last-child {
  margin: 0 0;
}

.header-container-list-item-badge {
  color: white;
  background: $themenColor;
  padding: 0.25rem 0.5rem;
  font-weight: 300;
  font-size: small;
  border-radius: 0.2rem;
  margin-left: 0.5rem;
}

@media only screen and (max-width: 1200px) {
  .header-hamburger {
    display: block;
  }

  .header {
    background-color: $themenColor;
    padding-left: 5%;
    padding-right: 5%;
  }

  .header-container {
    display: none;
  }
}
