<footer class="container">
    <div class="company-photo-container">
        <div class="company-photo-container-overlay">
        </div>
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fc1.staticflickr.com%2F9%2F8472%2F8079950167_bc01b5fd62_b.jpg&f=1&nofb=1"
            alt="">
        <div class="company-photo-container-content">
            <h1 class="company-photo-container-content-header">
                Ready to join us?
            </h1>
            <a routerLink="career" class="company-photo-container-content-btn">
                SEE OPEN POSITIONS
            </a>
        </div>
    </div>
    <div class="container-insidecontainer">
        <div class="container-brand">
            <div class="header-brand">
                <h1 class="header-brand-h1">
                    <a routerLink="">
                        Gamingverse
                    </a>
                </h1>
            </div>
        </div>
        <div class="wrapper-links-cta">
            <div class="container-links">
                <div class="container-company">
                    <h6>
                        <a routerLink="/company">
                            COMPANY
                        </a>
                    </h6>
                    <ul>
                        <li>
                            <a routerLink="/error">
                                About
                            </a>
                        </li>
                        <li>
                            <a routerLink="/error">
                                Our Story
                            </a>
                        </li>
                        <li>
                            <a routerLink="/error">
                                Management
                            </a>
                        </li>
                        <li>
                            <a routerLink="/news">
                                Press Room
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="container-career">
                    <h6>
                        <a routerLink="/CAREER">
                            CAREER
                        </a>
                    </h6>
                    <ul>
                        <li>
                            <a routerLink="/career">
                                Job Openings
                            </a>
                        </li>
                        <li>
                            <a routerLink="/error">
                                Culture and Values
                            </a>
                        </li>
                        <li>
                            <a routerLink="/error">
                                Application Process
                            </a>
                        </li>
                        <li>
                            <a routerLink="/error">
                                Benefits
                            </a>
                        </li>
                        <li>
                            <a routerLink="/error">
                                Global Offices
                            </a>
                        </li>
                        <li>
                            <a routerLink="/error">
                                FAQ
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="container-games">
                    <h6>
                        <a routerLink="/games">
                            GAMES
                        </a>
                    </h6>
                    <ul>
                        <li>
                            <a routerLink="/news">
                                NEWS
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container-cta">
                <h3 class="newsletter-header">NEWSLETTER</h3>
                <input class="email" type="text" placeholder="Your Email">
                <button class="signup-btn">Sign up</button>
            </div>
        </div>

    </div>
    <div class="below-container">
        <p>@ <span id="currentYear">-1</span> Gamingverse</p>
    </div>
</footer>