<footer class="container">
    <div class="container-insidecontainer">
        <div class="container-brand">
            <div class="header-brand">
                <h1 class="header-brand-h1">Gamingverse</h1>
            </div>
        </div>
        <div class="wrapper-links-cta">
            <div class="container-links">
                <div class="container-company">
                    <h6>COMPANY</h6>
                    <ul>
                        <li>About</li>
                        <li>Our Story</li>
                        <li>Management</li>
                        <li>Press Room</li>
                    </ul>
                </div>
                <div class="container-career">
                    <h6>CAREER</h6>
                    <ul>
                        <li>Job Openings</li>
                        <li>Culture and Values</li>
                        <li>Application Process</li>
                        <li>Benefits</li>
                        <li>Global Offices</li>
                        <li>FAQ</li>
                    </ul>
                </div>
                <div class="container-games">
                    <h6>GAMES</h6>
                    <ul>
                        <li>NEWS</li>
                    </ul>
                </div>
            </div>
            <div class="container-cta">
                <h3 class="newsletter-header">NEWSLETTER</h3>
                <input class="email" type="text" placeholder="Your Email">
                <button class="signup-btn">Sign up</button>
            </div>
        </div>

    </div>
    <div class="below-container">
        <p>@ <span id="currentYear">-1</span> Gamingverse</p>
    </div>
</footer>