$themenColor: rgb(255, 136, 0);

* {
  color: rgba($color: white, $alpha: 0.7);
}

a {
  text-decoration: none;
}

::-webkit-input-placeholder {
  padding-left: 1%;
}

:-moz-placeholder {
  padding-left: 1%;
}

::-moz-placeholder {
  padding-left: 1%;
}

:-ms-input-placeholder {
  padding-left: 1%;
}

.container {
  background: rgba(17, 17, 17, 0.9);
}

.company-photo-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.company-photo-container img {
  width: 100%;
  min-height: 300px;
  max-height: 450px;
  object-fit: cover;
}

.company-photo-container-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  position: absolute;
  background: rgba($color: #aaa, $alpha: 0.4);
}

.company-photo-container-content {
  left: 50%;
  top: 35%;
  z-index: 3;
  position: absolute;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
}

.company-photo-container-content-header {
  min-width: 16ch;
  color: white;
  font-size: 2rem;
  text-align: center;
}

.company-photo-container-content-btn {
  padding: 1.2rem 2rem;
  color: rgba($color: #000000, $alpha: 0.8);
  background-color: white;
  border: none;
  font-size: 0.8rem;
  font-weight: 600;
}

.container-insidecontainer {
  display: grid;
  grid-template-columns: 20% 60%;
  justify-content: space-around;
  gap: 1rem;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 4rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid white;
}

.container-brand {
  display: flex;
  justify-content: center;
}

.header-brand-h1 {
  padding: 0.2rem 0.6rem;
  color: white;
  background: $themenColor;
  border-radius: 0.1 rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
}

.wrapper-links-cta {
  display: flex;
  justify-content: space-around;
}

.container-links {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.container-links h6 {
  margin-bottom: 1rem;
  color: rgba($color: white, $alpha: 0.8);
  font-size: 1rem;
}

.container-links ul {
  list-style: none;
}

.container-links li {
  margin-top: 0.4rem;
}

.container-cta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.6rem;
}

.email {
  height: 1.5rem;
  color: black;
}

.newsletter-header {
  color: rgba($color: white, $alpha: 0.8);
}

.signup-btn {
  padding: 0.5rem 0.8rem;
  color: white;
  background: rgba($color: rgb(145, 18, 18), $alpha: 0.8);
  border: none;
  border-radius: 0.1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.below-container {
  padding: 1rem 5%;
}

@media only screen and (max-width: 1200px) {
  .container-insidecontainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .wrapper-links-cta {
    display: flex;
    justify-content: center;
    gap: 5rem;
  }

  .container-links {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
  }

  .container-links ul {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .container-insidecontainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .wrapper-links-cta {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .container-links {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
  }

  .container-links ul {
    display: none;
  }
}
