.main-container{
    width:100vw;
    height:75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid black;
    gap: 1rem;
}

.main-container-homebtn{
    border: none;
    background: black;
    color:white;
    padding: .7rem;
    border-radius: .2rem;
}