.main-container {
  width: 100vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.main-container-homebtn {
  padding: 0.7rem;
  color: white;
  background: black;
  border: none;
  border-radius: 0.2rem;
}
