$themenColor: rgb(255, 115, 0);
$gamesImageHeight: 650px;
$headingSize: 2.5rem;
$btnPadding: 0.8rem 1.8rem;
$btnFontweight: bolder;
$btnFontsize: 1rem;

.container-games {
    position: relative;
    min-height: $gamesImageHeight;
    max-height: $gamesImageHeight;
  }
  
  .container-games-navcontainerleft {
    position: absolute;
    top: 40%;
    left: 5%;
    opacity: 0.4;
    background-color: white;
    z-index: 2;
  }
  
  .container-games-navcontainerright {
    position: absolute;
    top: 40%;
    right: 5%;
    opacity: 0.4;
    background-color: white;
    z-index: 2;
  }
  
  .container-games-navcontainer-btn {
    border: none;
    font-size: 3.5rem;
    color: $themenColor;
    opacity: 1;
    padding: $btnPadding;
    font-weight: 800;
  }
  
  .container-games-game {
    position: relative;
  }
  
  .container-games-game img {
    display: block;
    max-height: $gamesImageHeight;
    min-height: $gamesImageHeight;
    width: 100%;
  }
  
  .container-games-game-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 60%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: none;
    z-index: 2;
  }
  
  .container-games-game-container-playbtn {
    width: 180px;
    height: 50px;
    font-weight: bold;
    border-radius: 0.1rem;
    text-transform: uppercase;
    background: white;
    color: $themenColor;
    border: none;
    cursor: pointer;
  }
  
  .flipimg {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  
  /* Pulse */
  @-webkit-keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  @keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  .hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-pulse:hover,
  .hvr-pulse:focus,
  .hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  
  .container-games-game-container-playbtn-container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 0.4rem;
  }
  
  .container-games-game-container-playbtn-container img {
    width: 32px;
    max-height: 24px;
    min-height: 24px;
  }
  
  .container-games-game-container-header {
    color: red;
    margin-top: 3.5rem;
    color: white;
    font-size: 3.5rem;
  }
  
  .container-games-game-container-description{
    color: red;
    color: white;
    background: rgba($color: #aaa, $alpha: .5);
    padding: 1rem;
    font-size: 1.5rem;
  }
  
  .container-games-arrowdown {
    display: inline-block;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    bottom: -4rem;
    width: 32px;
    height: 32px;
  }
  
  .container-games-arrowdown img {
    -webkit-animation: mover 0.5s infinite alternate;
    animation: mover 0.5s infinite alternate;
    color: black;
    width: 32px;
  }
  @-webkit-keyframes mover {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-1rem);
    }
  }
  @keyframes mover {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-1rem);
    }
  }