.container-contact-btn {
  position: fixed;
  z-index: 999;
  right: -2.6rem;
  top: 45%;
  border-radius: 0.2rem;
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  font-size: 0.8rem;
  padding: 0.9rem 1.8rem;
  transition: all 0.5s;
  cursor: pointer;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-decoration: none;
}
