$themenColor: rgb(255, 115, 0);
$gamesImageHeight: 750px;
$headingSize: 2.5rem;
$btnPadding: 0.8rem 1.8rem;
$btnFontweight: bolder;
$btnFontsize: 1rem;

.container {
  display: flex;
  flex-direction: column;
  margin-top: 4.5rem;
}

.container-about {
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url("https://i.pinimg.com/originals/d1/10/de/d110dee051323ffa6f981d58aa2366ea.jpg");
  background-size: 120%;
}

.container-about-insidecontainer {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  margin-left: 5%;
  margin-right: 5%;
}

.container-about-insidecontainer-bg {
  min-width: 35%;
  min-height: 30%;
  top: 5rem;
  right: 20%;
  z-index: 2;
  position: absolute;
  background-image: url("https://img.freepik.com/free-vector/white-honeycomb-background-3d-style_23-2148386680.jpg?size=626&ext=jpg");
  background-size: 100%;
  opacity: 0.3;
}

.container-about-insidecontainer-descriptioncontainer {
  z-index: 3;
  flex-direction: column;
}

.container-about-insidecontainer-descriptioncontainer-header1 {
  margin-bottom: 1.5rem;
}

.container-about-insidecontainer-descriptioncontainer-aboutanchor {
  color: rgb(10, 124, 124);
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: none;
}

.container-about-insidecontainer-descriptioncontainer-header2 {
  margin-bottom: 0.4rem;
  font-size: 3.5rem;
}

.container-about-insidecontainer-descriptioncontainer-header3 {
  margin-bottom: 2.5rem;
  color: $themenColor;
  font-size: 3rem;
}

.container-about-insidecontainer-descriptioncontainer-description {
  margin-bottom: 3rem;
  color: rgba($color: #000000, $alpha: 0.8);
  font-size: 1rem;
}

.container-about-insidecontainer-descriptioncontainer-btn {
  padding: $btnPadding;
  color: white;
  background: $themenColor;
  border: none;
  border-radius: 0.1rem;
  font-size: $btnFontsize;
  font-weight: $btnFontweight;
  text-transform: capitalize;
  text-decoration: none;
}

.container-about-insidecontainer-imagecontainer {
  width: auto;
  z-index: 3;
  margin: 3rem;
}

.container-about-insidecontainer-imagecontainer img {
  width: 100%;
  max-height: 345px;
}

.featuredgames {
  background-image: url("https://www.pngkey.com/png/full/377-3772788_join-us-yellow-swoosh-png.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.featuredgames-header {
  margin-top: 5rem;
  color: $themenColor;
  font-size: $headingSize;
  text-align: center;
}

.featuredgames-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 5% 4rem 5%;
}

.featuredgames-container-img img {
  width: 100%;
  height: 100%;
  background: transparent;
}

.featuredgames-container-cards {
  display: flex;
  justify-content: space-around;
  align-content: center;
  gap: 3rem;
}

.featuredgames-container-cards-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  border-radius: 0.2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.featuredgames-container-cards-card-imgcontainer {
  padding: 1rem;
}

.featuredgames-container-cards-card-imgcontainer img {
  width: 16rem;
  height: 16rem;
}

.featuredgames-container-cards-card-descriptioncontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.positions-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.featuredgames-container-cards-card-descriptioncontainer-header {
  font-weight: bold;
  font-size: 1.4rem;
}

@media only screen and (max-width: 1200px) {
  .featuredgames-container-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    padding: 0 15%;
  }

  .featuredgames-container-img {
    display: none;
  }

  .container-career-positions {
    grid-template-columns: 1fr 1fr;
  }

  .press-news {
    grid-template-columns: 1fr;
    padding: 0 10%;
  }
}

@media only screen and (max-width: 768px) {
  .container-about-insidecontainer {
    grid-template-columns: 100%;
  }

  .container-about {
    background-size: 150%;
  }

  .container-about-insidecontainer-imagecontainer {
    display: none;
  }

  .container-career-positions {
    grid-template-columns: 1fr 1fr;
  }

  .press-news {
    padding: 0 0;
  }
}

@media only screen and (max-width: 576px) {
  .container-about-insidecontainer-bg {
    display: none;
  }

  .container-about-insidecontainer-imagecontainer {
    display: none;
  }

  .container-career-positions {
    grid-template-columns: 1fr;
  }
}
