<div class="container">
    <div class="header-container">
        <h1 class=header-container-h1>
            Our Games
        </h1>
        <p class="header-container-p">
            Play Free Online Games instantly! From Solitaire and Match 3 Games to Mahjong and Trivia Quiz – enjoy our
            collection of high quality, social and free online games!
        </p>
    </div>
    <div class="games-grid">
        <div class="games-grid-game"><img src="https://unsplash.it/350/350" alt=""></div>
        <div class="games-grid-game"><img src="https://unsplash.it/350/350" alt=""></div>
        <div class="games-grid-game"><img src="https://unsplash.it/350/350" alt=""></div>
        <div class="games-grid-game"><img src="https://unsplash.it/350/350" alt=""></div>
        <div class="games-grid-game"><img src="https://unsplash.it/350/350" alt=""></div>
        <div class="games-grid-game"><img src="https://unsplash.it/350/350" alt=""></div>
        <div class="games-grid-game"><img src="https://unsplash.it/350/350" alt=""></div>
        <div class="games-grid-game"><img src="https://unsplash.it/350/350" alt=""></div>
    </div>
</div>