<app-contact-us-btn></app-contact-us-btn>
<div class="container">
    <div class="header-container">
        <h1 class=header-container-h1>
            Our Games
        </h1>
        <div class="header-container-paragraphcontainer">
            <span class="header-container-p">
                Play Free Online Games instantly! From Solitaire and Match 3 Games to Mahjong and Trivia Quiz – enjoy
                our collection of high quality, social and free online games!
            </span>
        </div>
    </div>
    <div class="games-container">
        <div class="upper-pane">
            <div class="focus pane">
                <img src="http://unsplash.it/800/800" alt="">
                <div class="content-pane">
                    <h3 class="focused-h3">Placeholder Game Title</h3>
                </div>
            </div>
            <div class="right-pane">
                <div class="nonfocus pane">
                    <img src="http://unsplash.it/200/200" alt="">
                    <div class="content-pane">
                        <h3 class="nonfocused-h3">Placeholder Game Title</h3>
                    </div>
                </div>
                <div class="nonfocus pane">
                    <img src="http://unsplash.it/200/200" alt="">
                    <div class="content-pane">
                        <h3 class="nonfocused-h3">Placeholder Game Title</h3>
                    </div>
                </div>
                <div class="nonfocus pane">
                    <img src="http://unsplash.it/200/200" alt="">
                    <div class="content-pane">
                        <h3 class="nonfocused-h3">Placeholder Game Title</h3>
                    </div>
                </div>
                <div class="nonfocus pane">
                    <img src="http://unsplash.it/200/200" alt="">
                    <div class="content-pane">
                        <h3 class="nonfocused-h3">Placeholder Game Title</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="below-pane">
            <div class="nonfocus pane">
                <img src="http://unsplash.it/200/200" alt="">
                <div class="content-pane">
                    <h3 class="nonfocused-h3">Placeholder Game Title</h3>
                </div>
            </div>
            <div class="nonfocus pane">
                <img src="http://unsplash.it/200/200" alt="">
                <div class="content-pane">
                    <h3 class="nonfocused-h3">Placeholder Game Title</h3>
                </div>
            </div>
            <div class="nonfocus pane">
                <img src="http://unsplash.it/200/200" alt="">
                <div class="content-pane">
                    <h3 class="nonfocused-h3">Placeholder Game Title</h3>
                </div>
            </div>
            <div class="nonfocus pane">
                <img src="http://unsplash.it/200/200" alt="">
                <div class="content-pane">
                    <h3 class="nonfocused-h3">Placeholder Game Title</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="participate-container">
        <div class="participate-image-container">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F62e528761d0685343e1c-f3d1b99a743ffa4142d9d7f1978d9686.ssl.cf2.rackcdn.com%2Ffiles%2F83891%2Fwidth668%2Fimage-20150604-2927-1shj1ak.jpg&f=1&nofb=1"
                alt="">
        </div>
        <div class="participate-description-container">
            <h2 class="participate-header">Participate</h2>
            <p class="participate-p">
                We are always on the lookout for talents who share the same passion as us. Ready for your next
                challenge?
            </p>
            <a routerLink="/career" class="participate-btn">
                JOIN US
            </a>
        </div>
    </div>
</div>